:root {
  --main-bg-color: brown;
  --thumbnail-size: 10rem;
}

.border {
  border: 0.1rem;
  border-style: dashed;
  border-color: red;
}

.drink {
  text-align: center;
  width: 25%;
  margin: auto;
}

.drink-thumbnail {
  height: var(--thumbnail-size);
  width: var(--thumbnail-size);
  background-color: var(--main-bg-color);
}
